.chats-container {
  min-height: 60ch;
  padding: 10px;
  border: 2px solid #0f172a;
  border-top: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 70vh;
  height: 100%;
  overflow-y:auto ;
  flex: 1;
  min-height: 60vh;

}

.with {
  align-content: space-between;
  justify-content: flex-end;
}

.without {
  justify-content: center;
  align-items: center;
}

.chats-container img {
  width: 100px;
}

.chats-container .patch-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chat-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  max-width: 70%;
  font-size: 18px;
  font-weight: 500;
}
.chat-container img {
  width: 30px;
  margin: 10px;
  margin-top: 15px;
}

.user_img {
  order: 2;
}

.chat {
  padding: 10px;
  margin: 10px;
  border-radius: 4px;
}

.zyra-chat .chat {
  background-color: #ffc107;
}

.user-chat .chat {
  background-color: #e3f2fd;
}

.user-chat {
  margin-left: auto;
}

.zyra-chat {
  margin-right: auto;
}

.input-box-container {
  border: 2px solid #0f172a;
  border-radius: 0 0 25px 25px;
  display: flex;
  justify-content: space-;
  border-top: 0;
}

.chat-input-box {
  height: 40px;
  width: 100%;
  border-radius: 0 0 0 25px;
  outline: 0;
  border: 0;
  padding: 20px;
  font-size: 18px;
}
