.header-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    margin-top: 2%;
    border: 2px solid #0F172A;
    border-radius: 25px 25px 0 0;
    width: 100%;
}

.header-container .app-logo{
    width: 150px;
    height: auto;
}

.app-headline{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.app-headline h1, .app-headline .make-it-yellow{
    font-family: 'Bungee Spice', cursive;
}

.app-headline .make-it-big{
    font-family: inherit;
    font-size: 3rem;
}

.header-container h2{
    font-weight: 600;
    color: #2563EB;
}

.header-container .user-name:hover{
    cursor: pointer;
}